In [12]:
#import dependencies
import pandas as pd

#load file 
file_to_load = 'bitcoin_data.csv'

#read file and load into pandas dataframe
price_data = pd.read_csv(file_to_load)
price_data.head()

,Start,End,Open,High,Low,Close,Volume,Market Cap
0,2024-12-26,2024-12-27,99792.00,99940.03,95249.51,95830.42,5.862097e+10,1.915420e+12
1,2024-12-25,2024-12-26,98612.37,99436.00,97676.75,99436.00,6.203616e+10,1.949705e+12
2,2024-12-24,2024-12-25,94736.64,99280.01,93712.18,98805.90,7.632318e+10,1.899057e+12
3,2024-12-23,2024-12-24,95181.30,96433.71,92587.99,94748.02,7.438945e+10,1.876386e+12
4,2024-12-22,2024-12-23,97178.72,97408.04,94288.04,95136.87,6.017203e+10,1.906303e+12

In [13]:
price_data.tail()

,Start,End,Open,High,Low,Close,Volume,Market Cap
5272,2010-07-21,2010-07-22,0.0792,0.0792,0.0792,0.0792,0.0,274308.375000
5273,2010-07-20,2010-07-21,0.0747,0.0747,0.0747,0.0747,0.0,256710.178548
5274,2010-07-19,2010-07-20,0.0808,0.0808,0.0808,0.0808,0.0,277570.220000
5275,2010-07-18,2010-07-19,0.0858,0.0858,0.0858,0.0858,0.0,294746.595000
5276,2010-07-17,2010-07-18,0.0500,0.0500,0.0500,0.0500,0.0,170803.152488

In [11]:
#footnotes
# source data pulled from https://coincodex.com/crypto/bitcoin/historical-data/ on 12/26/2024